* {
	font-family: Segoe UI, Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	color: #ddd;
}

body {
	margin: 0px;
	padding: 1px 0px 0px 0px; /*menu_content doesn't get to the top without this, sadly doesn't work at 0px, a fix would be appreciated*/
	background-color: #141414;
}

header {
	border-bottom: 1px solid
}

.lang-btn {
	background-color: rgb(153, 51, 255);
	padding: 8px;
	font-size: 16px;
	border: none;
}

.lang-menu {
	position: relative;
	display: inline-block;
}

.lang-select {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.lang-select a {
	color: black;
	padding: 12px 8px;
	text-decoration: none;
	display: block;
}

.lang-select a:hover {
	background-color: black;
	color: white;
}

.lang-menu:hover .lang-select {display: block;}

.lang-menu:hover .lang-btn {
	background-color: white;
	color: black;
}

#title * {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#title h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

#title h5 {
	font-size: 15px;
	margin-top: 0px;
}

#intro h3 {
	font-weight: bold;
	margin-bottom: 2em;
}

.presentation {
	display: flex;
}

footer {
	border-top: solid 1px;
}

footer a {
	color: rgb(153, 51, 255);
}
