* {
	font-family: Segoe UI, Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	color: #ddd;
}

body {
	margin: 0px;
	padding: 1px 0px 0px 0px; /*menu_content doesn't get to the top without this, sadly doesn't work at 0px, a fix would be appreciated*/
	background-color: #141414;
}

header {
	border-bottom: 1px solid
}

#title * {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#title h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

#title h5 {
	font-size: 15px;
	margin-top: 0px;
}

#intro h3 {
	font-weight: bold;
	margin-bottom: 2em;
}

.presentation {
	display: flex;
}

footer {
	border-top: solid 1px;
}

footer a {
	color: rgb(153, 51, 255);
}
