#menu_toggle {
	position: fixed;
	bottom: 50%;
	cursor: pointer;
}

#menu_toggle * {
	text-align: left;
	padding: 5px;
	margin: 0px;
	background-image: url(./resources/bg2.jpg);
}

#menu_content {
	display: none;
	overflow-y: auto;
	height: 100%;
	width: 260px;
	position: fixed;
	background-color: rgb(153, 51, 255);
}

#menu_content * {
	margin: 0px;
	padding: 0px;
}

#menu_content h1 {
	padding: 5px;
	border-bottom: 1px solid;
	background-color: black;
}

#menu_content h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

#menu_content ul {
	list-style-type: none;
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

#menu_content li {
	padding: 2px 0;
	margin: 2px 0;
}

#lesson {
	display: inline-block;
	padding: 0px 20%;
	font-size: 20px;
	background-color: #0F0F0F;
	border-bottom: 1px solid;
}

#lesson h1 {
	font-size: 60px;
}

#lesson img {
	max-width: 100%;
	max-height: 100%;
	background-color: black;
	padding: 5px;
	border: 1px solid;
}

#lesson a {
	text-decoration: underline;
	color: rgb(180, 105, 255);
}

#lesson p {
	margin-left: 25px;
	margin-right: 25px;
}

.highlight {
	color: rgb(180, 105, 255);
}

.other-lessons {
	background-image: url(./resources/bg.jpg);
	display: flex;
	padding: 20px;
}

#prev-lesson, #next-lesson {
	transition: transform 0.3s;
	flex: 1;
	cursor: pointer;
	font-weight: bold;
	border: none;
	background-color: rgb(153, 51, 255);
	padding: 15px;
	margin: 20px 80px;
	width: 35%;
}

#prev-lesson:visited, #next-lesson:visited {
	background-color: rgb(34, 34, 34);
}

#prev-lesson:hover, #next-lesson:hover {
	transform: scale(1.1);
}
