#lesson {
	display: inline-block;
	margin: 0 50px;
	font-size: 18px;
}

#lesson h1 {
	font-size: 60px;
}

#lesson img {
	background-color: black;
	padding: 5px;
	border: 1px solid;
}

#lesson a {
	text-decoration: underline;
	color: rgb(180, 105, 255);
}
