a {
	color: rgb(153, 51, 255);
}

.presentation {
	display: flex;
}

.show {
	flex: 1;
	border: 1px solid;
	margin: 20px 11px;
	background-color: #222;
}

.show_title {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 0px;
}

.show p {
	font-size: 17px;
	margin-bottom: 40px;
	padding: 0px 20px;
}

button {
	flex: 1;
	cursor: pointer;
	font-weight: bold;
	border: none;
	background-color: rgb(153, 51, 255);
	padding: 15px;
	margin: 0 10px 20px 10px;
	width: 100%;
}

button:hover {
	content: "a";
	background-color: black;
}

.hidden {
	padding: 0px;
	border-top: 1px solid;
	display: block;
}

.hidden * {
	margin: 0px;
	padding: 20px;
	font-size: 20px;
	list-style-type: none;
}

.hidden ul {
	border: 1px solid;
	margin: 20px 100px;
	max-width: 100%;
	max-height: 100%;
}

.hidden ul a {
	text-decoration: underline;
	border: none;
	color: white;
}

.hidden ul a:visited {
	color: rgb(180, 105, 255);
}
