* {
	font-family: Segoe UI, SegoeUI, Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	color: white;
}

a {
	color: rgb(153, 51, 255);
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #141414;
}

header {
	border-bottom: 1px solid
}

header h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

header h5 {
	font-size: 15px;
	margin-top: 0px;
}

header h3 {
	font-weight: bold;
	margin-bottom: 2em;
}

#title {

}

.presentation {
	display: flex;
}

.show {
	flex: 1;
	border: 1px solid;
	margin: 20px 11px;
	background-color: #222;
}

.show_title {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 0px;
}

.show p {
	font-size: 17px;
	margin-bottom: 40px;
}

button {
	flex: 1;
	cursor: pointer;
	font-weight: bold;
	border: none;
	background-color: rgb(153, 51, 255);
	padding: 15px;
	margin: 0 10px 20px 10px;
	width: 100%;
}

button:hover {
	content: "a";
	background-color: black;
}

.hidden {
	padding: 0px;
	border-top: 1px solid;
	display: block;
}

.hidden * {
	margin: 0px;
	padding: 20px;
	font-size: 20px;
	list-style-type: none;
}

.hidden ul {
	border: 1px solid;
	margin: 20px 100px;
	max-width: 100%;
	max-height: 100%;
}

.hidden ul a {
	text-decoration: underline;
	border: none;
	color: white;
}

.hidden ul a:visited {
	color: rgb(153, 51, 255);
}

footer {
	border-top: solid 1px;
}
